<div class="mb-6 wsingel">
  <div>
    <!-- Section Header -->
    <div class="mb-4 flex items-center justify-between">
      <h3
        class="font-medium text-zinc-700 dark:text-white md:text-lg lg:text-xl"
      >
        کالاهای مرتبط
      </h3>
    </div>
    <!-- Section Content -->
    <div class="swiper product-slider p-px">
      <div class="swiper-wrapper">
        
        <% for(let pro of products){ %>
        <div class="swiper-slide">
          <!-- Product Card -->

          <div
            class="border-gradient group relative rounded-base p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-base"
          >
            <div
              class="relative rounded-xl bg-white p-2 shadow-base dark:bg-zinc-900 md:p-5"
            >
              <!-- image -->
              <div class="mb-2 md:mb-5" draggable="false">
                <a href='/product/<%= pro.productID  %>'>
                  <img
                    alt=""
                    class="mx-auto w-32 rounded-lg md:w-auto image-pro"
                    src="/uploads/products/<%= pro.image  %>"
                  />
                </a>
              </div>
              <!-- title -->
              <div class="mb-2">
                <a class='line-clamp-2 h-10 text-sm text-zinc-700 dark:text-white md:h-12 md:text-base' href='/product/<%= pro.productID  %>'>
                <%= pro.title  %>
                </a>
              </div>
              <!-- Prices -->
              <div class="flex flex-col">
                <!-- Old price -->
                <div class="h-5 text-left">
                  <del
                    class="text-sm text-zinc-500 decoration-red-600 dark:text-zinc-400 dark:decoration-red-500 md:text-base"
                  >
                    <%= separate(pro.price)  %>
                  </del>
                </div>
                <div class="flex items-center justify-between">
                  <div>
                    <p
                      class="w-9 rounded-full bg-red-500 py-px text-center text-sm text-white dark:bg-red-500"
                    >
                      60%
                    </p>
                  </div>
                  <!-- New price -->
                  <div
                    class="text-sm font-bold text-emerald-500 dark:text-emerald-400 md:text-base"
                  >
                    4,000,000
                    <span class="text-xs font-light md:text-sm"
                      >تومان</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        </div>
        <% } %>
    
      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
  </div>
</div>