<%- include('./header.ejs')  %>
<main class="flex-grow bg-gray-100 pb-14 pt-36 dark:bg-black xs:pt-36">
<%- include('./home/banner.ejs')  %>
<%- include('./home/products.ejs')  %>
<%- include('./home/producta.ejs')  %>
<%- include('./home/productcat.ejs')  %>
<%- include('./home/productz.ejs')  %>
</main>
<%- include('./footer.ejs')  %>

