<%- include('./header.ejs')  %>
<main class="flex-grow bg-gray-100 pb-14 pt-36 dark:bg-black xs:pt-36">

    <!-- Special Products section Start -->



    <section class="mb-8">
      <div class="container relative">
        <!-- Section Header -->
        <div class="mb-4 flex items-center justify-between">
          <h3
            class="font-medium text-zinc-700 dark:text-white md:text-lg lg:text-xl"
          >
          علاقه‌مندی ها
          </h3>
          <a class='flex items-center gap-x-2 py-2 text-sm text-emerald-500 dark:text-emerald-400 lg:text-base' href='/shop'>
       
            
            
            </span>
          </a>
        </div>
        <% if(product.length > 0){ %>
        <!-- Section Content -->
        <div class="swiper product-slider p-px">
          <div class="swiper-wrapper item-search">
            <% for(let productx of product){ %>
            <div class="swiper-slide">
              <!-- Product Card -->
              <div
                class="border-gradient group relative rounded-base p-px before:absolute before:-inset-px before:h-[calc(100%+2px)] before:w-[calc(100%+2px)] before:rounded-base"
              >
                <div
                  class="relative rounded-xl bg-white p-2 shadow-base dark:bg-zinc-900 md:p-5"
                >
                  <!-- image -->
                  <div class="mb-2 md:mb-5" draggable="false">
                    <a href='/product/<%= productx.productID  %>'>
                      <img
                        alt=""
                        class="mx-auto w-32 rounded-lg md:w-auto image-pro"
                        src="../uploads/products/<%= productx.image %>"
                      />
                    </a>
                  </div>
                  <!-- title -->
                  <div class="mb-2">
                    <a class='line-clamp-2 h-10 text-sm text-zinc-700 dark:text-white md:h-12 md:text-base' href='/product/<%= productx.productID  %>'>
                    <%=productx.title  %>
                    </a>
                  </div>
                  <!-- Prices -->
                  <div class="flex flex-col">
                    <!-- Old price -->
                    <% if(productx.sale != 0){
                      let pricex=productx.sale*100/productx.price;
                      let pricez=pricex.toString();
                      let price= pricez.split('.')
                      %>
                    <div class="h-5 text-left">
                      <del
                        class="text-sm  text-zinc-500 decoration-red-600 dark:text-zinc-400 dark:decoration-red-500 md:text-base  "
                      >
                      <%= separate(productx.price)  %>
                      </del>
                    </div>
                    
                    <div class="flex items-center justify-between">
                      <div>
                        <p
                          class="w-9 rounded-full bg-red-500 py-px text-center text-sm text-white dark:bg-red-500"
                        >
                          %<%=  price[0] %>
                        </p>
                      </div>
                      <!-- New price -->
                      <div
                        class="text-sm font-bold text-emerald-500 dark:text-emerald-400 md:text-base"
                      >
                       <%= separate(productx.price-productx.sale)  %>
                        <span class="text-xs font-light md:text-sm"
                          >تومان</span
                        >
                      </div>
                    </div>
                    <% } else{ %>

                      <div
                      class="text-sm font-bold text-emerald-500 dark:text-emerald-400 md:text-base text-left"
                    >
                     <%= separate(productx.price)  %>
                      <span class="text-xs font-light md:text-sm"
                        >تومان</span
                      >
                    </div>

                      <% } %>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
           
          </div>
  
        </div>
        <% }else{ %>
        
        <p>هنوز محصولی به علاقه‌مندی ها اضافه نشده است</p>
  
        <% } %>
      </div>
    </section>
 
   

</main>
<%- include('./footer.ejs')  %>

