<div class="untree_co-section">
  <div class="container">

    <h3 class="text-start mb-2 float-right d-block w-100 text-right">محصولات</h3>

    <div class="row" style="background-color: #f6f6f6;">
      <% for(let product of products){ %>
      <div class="col-3 ">
        <a href="">
        <div class="product-item">
          <a href="shop-single.html" class="product-img">


          
            <div class="label new top-right">
              <div class='content'><%= product.berand  %></div>
            </div>
          
             <% if(product.sale > 0){ %>
            <div class="label sale top-right second">
              <div class='content labseal'>تخفیف</div>
            </div>
            <% } %>
            <img src="uploads/products/<%= product.image %>" alt="Image" class="img-fluid">
          </a>
          <h3 class="title p-2"><a href="#"><%= product.berand  %></a></h3>
          <h3 class="title p-2 small"><a href="#"><%= product.titlefa  %></a></h3>
          
          <div class="price row text-right">
          
            <% if(product.sale > 0) {%>
             
            <del class="col rtl text-warning">
              <%= separate(product.price) %>
              تومان
            </del>
-
            <span class="col rtl">
              
                 <%= separate(product.price - product.sale ) %>
                 تومان 
            </span>
           
            <% }else{ %>
            <span class="col rtl  float-right">
          
              <%= separate(product.price) %>
              تومان
            </span>
            <% } %>
            <span class="btn-shop"><i class="fa fa-shopping-bag"></i></span>
          </div>
          <!-- <div class="w-100 btn btn-outline-danger text-white"> افزودن به سبد خرید</div> -->
        </div>
      </a>
      </div>
      <% } %>
    

      
  
    </div>
  </div>
</div> <!-- /.untree_co-section -->
